DATABASE=
PASSWORD=
USERNAME=

RABBITMQ_USER=
RABBITMQ_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=